@font-face {
  font-family: 'Open Sans';
  src: url('../../assets/fonts/OpenSans-Light.eot') format('embedded-opentype'), 
      url('../../assets/fonts/OpenSans-Light.woff2') format('woff2'),
      url('../../assets/fonts/OpenSans-Light.woff') format('woff'), 
      url('../../assets/fonts/OpenSans-Light.ttf') format('truetype'),
      url('../../assets/fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-style: normal;
}