* {
  box-sizing: border-box;
}

/* Media Queries */

/* Loading Gif */
.loader-container-appear {
  display: none;
  width: 3rem;
  margin: 0 auto;
}

/* Sections */

body {
  background: black;
}

.fullpage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.article-content {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1rem;
  /* text-align: flex; */
  /* flex-direction: column; */

  a:hover,
  a:visited,
  a:link,
  a:active {
    text-decoration: none;
    color: white;
  }
  width: 100%;
}

.article-title-container {
  align-self: flex-start;
  width: 100%;
}

.article-div {
  display: flex;
  width: 100%;
}

.article-child {
  display: flex;

  align-items: flex-end;
  color: white;
  text-decoration: none;
}

.fullpage p {
  font-family: 'Open Sans', sans-serif;
}


.article-title-text {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.45) 0%,
    rgba(0, 0, 0, 0.45) 100%
  );
  width: 100%;
  text-align: left;
  line-height: 1.6rem;
  padding: 0rem 0.25rem;
  font-size: 1.5rem;
}

.article-title-text-nobg {
  background: none;
  width: 100%;
  text-align: left;
  line-height: 1.6rem;
  padding: 0rem 0.25rem;
  font-size: 1.5rem;
}

.article-abstract {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.45) 0%,
    rgba(0, 0, 0, 0.45) 100%
  );
  width: 100%;
  text-align: left;
  line-height: 1.5rem;
  padding: 0rem 0.25rem;
}

.article-link {
  width: 100%;
}

.grid-cell {
  height: 300px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-end;
  align-items: flex-end;
}

.select-option {
  color: white;
  font-size: 1rem;
}

.form-section {
  padding-bottom: 2rem;
}

.article-grid {
  margin: 0 auto;
  font-family: ‘Open Sans’, Arial, Helvetica, sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
}

#article-select {
  font-size: 1.2rem;
  height: 1.7rem;
}

.footer-text {
  color: grey;
  text-align: center;
}

.all-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding-top: 25vh;
}

.article-link:hover { transform: scale(1.1); }

/* Controls Elements with width greater than 480px */
@media only screen and (min-width: 480px) {
  .article-link {
    width: 50%;
  }
  .loader-container-appear {
    display: none;
    width: 3rem;
    margin: 0 auto;
  }
}

/* Controls Elements with width greater than 600px */
@media only screen and (min-width: 600px) {
  body {
    background: black;
  }
  .all-content {
    flex-direction: row;
    justify-content: center;
  }

  .form-section {
    display: inline;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .loader-container-appear {
    display: none;
    width: 3rem;
    margin: 0 auto;
  }
}

/* Controls Elements with width greater than 1000px */
@media only screen and (min-width: 1000px) {
  body {
    background: black;
  }
  .all-content {
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer-text {
    text-align: left;
  }
  .article-link {
    width: 25%;
  }
  .loader-container-appear {
    display: none;
    width: 3rem;
    margin: 0 auto;
  }
}
