* {
  box-sizing: border-box;
}

/* Media Queries */

/* Loading Gif */
.loader-container-appear {
  display: none;
  width: 3rem;
  margin: 0 auto;
}

/* Sections */

body {
  background: lightpink;
}

.fullpage {
  background: lightcoral;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.article-content {
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  /* text-align: flex; */
  /* flex-direction: column; */

  a:hover,
  a:visited,
  a:link,
  a:active {
    text-decoration: none;
    color: white;
  }
  width: 100%;
}

.article-div {
  display: flex;
  //   justify-content: flex-end;
  width: 100%;
}

.article-child {
  display: flex;
  //   justify-content: flex-end;
  align-items: flex-end;
  color: white;
  text-decoration: none;
}

.article-li {
  //   width: 100%;
  display: flex;
  //   justify-content: flex-end;
}

.fullpage p {
  font-family: "Opens Sans", Arial, Helvetica, sans-serif;
}

.article-abstract {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0.35) 100%
  );
  width: 100%;
  text-align: left;
  line-height: 1.5rem;
}

.select-option {
  color: white;
}

ul {
  padding: 0;
  list-style-type: none;
}

.grid-cell {
  height: 300px;
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
  //   background-size: 100%;
}

.footer-text {
  color: grey;
  text-align: center;
}

.all-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding-top: 25vh;
}

/* Controls Elements with width greater than 600px */
@media only screen and (min-width: 480px) {
  .article-li {
    width: 50%;
  }
}

/* Controls Elements with width greater than 600px */
@media only screen and (min-width: 600px) {
  body {
    background: skyblue;
  }
  .all-content {
    flex-direction: row;
    justify-content: center;
  }

  .form-section {
    display: inline;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Controls Elements with width greater than 1000px */
@media only screen and (min-width: 1000px) {
  body {
    background: lightcoral;
  }
  .all-content {
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer-text {
    text-align: left;
  }
  .article-li {
    width: 25%;
  }
}
